/* You can add global styles to this file, and also import other style files */

html,
body,
.container {
  height: 99.99%;
  background-color: #eeeeee;
}
* {
  margin: 0px;
  padding: 0px;
}
body,
html,
* {
  overflow: hidden; /* Hide scrollbars */
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
